/* var.css */
/*:root {*/
/*  --vp-c-brand-1: #18794e;*/
/*  --vp-c-brand-2: #299764;*/
/*  --vp-c-brand-3: #30a46c;*/
/*}*/

/*.dark {*/
/*  --vp-c-brand-1: #3dd68c;*/
/*  --vp-c-brand-2: #30a46c;*/
/*  --vp-c-brand-3: #298459;*/
/*}*/
/* 以前的vp-c-brand已弃用 */
:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(315deg, rgb(66, 211, 146) 25%, rgb(100, 126, 255));
    --vp-home-hero-text-color: red
}


.vp-doc div[class*='language-'], .vp-block {
    border: 2px solid #43D294;
}

.vp-doc blockquote {
    border-left: 4px solid #326CE5;
    padding: 8px 10px;
    background-color: rgb(50, 108, 229, .2);
    color: #3C3C43;
    border-radius: 8px;
}

.dark {
    .vp-doc blockquote {
        border-left: 4px solid #326CE5;
        background-color: rgb(50, 108, 229, .2);
        color: #DBDBD3;
    }

    .vp-doc div[class*='language-'], .vp-block {
        border: 2px solid #4CA6FF;
    }
}
